<div class="row"> 
    <div class="col l6 offset-l3 s12 m8 offset-m2">
        <div class="course">
            <h1>{{course.title}}</h1>
            <img class="imgcourse" src="{{course.img}}" alt="{{course.title}}">
            <p class="price big">{{course.price}}</p>
        </div>
    </div> 
</div>